Assistant WhatsApp Bénévoles - Meta API Direct.json
{
  "name": "Assistant WhatsApp Bénévoles - Meta API Direct",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-les-ombres",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Messages WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        608
      ],
      "id": "a1e9abf2-2aec-450d-bbb0-d7bb97692548",
      "webhookId": "whatsapp-les-ombres-msg"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"received\"}",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Répondre 200 à Meta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        64,
        608
      ],
      "id": "c2800447-760d-43fc-8624-8ccc25ca2677"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $input.item.json.body;\n\n// Vérifier d'abord si c'est un vrai message ou juste un status update\nconst entry = body?.entry?.[0];\nconst changes = entry?.changes?.[0];\nconst value = changes?.value;\nconst messages = value?.messages;\n\n// Si pas de messages, c'est un status update (delivered, read, sent)\n// On retourne skip: true pour arrêter le flow immédiatement\nif (!messages || messages.length === 0) {\n  // On utilise $execution.customData pour marquer qu'il faut stopper\n  return { json: { skip: true, body: '', from: '', phoneNumber: '', profileName: '', prenom: '', messageId: '', timestamp: '', phoneNumberId: '' } };\n}\n\nconst message = messages[0];\nconst contacts = value?.contacts?.[0];\n\nconst from = message.from;\nconst phoneNumber = '+' + from;\nconst profileName = contacts?.profile?.name || '';\nconst prenom = profileName ? profileName.split(' ')[0] : 'Bénévole';\nconst messageId = message.id;\nconst timestamp = message.timestamp;\n\nlet messageBody = '';\nif (message.type === 'text') {\n  messageBody = message.text?.body || '';\n} else if (message.type === 'button') {\n  messageBody = message.button?.text || '';\n} else if (message.type === 'interactive') {\n  messageBody = message.interactive?.button_reply?.title || message.interactive?.list_reply?.title || '';\n} else {\n  messageBody = `[Message de type ${message.type} — non supporté]`;\n}\n\nconst phoneNumberId = value?.metadata?.phone_number_id || '1084110028108775';\n\nreturn {\n  json: {\n    skip: false,\n    from,\n    phoneNumber,\n    profileName,\n    prenom,\n    body: messageBody,\n    messageId,\n    timestamp,\n    phoneNumberId\n  }\n};"
      },
      "name": "Extraire infos WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        608
      ],
      "id": "0a0c3748-dc31-429f-b452-4b378604ce3d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Filtrer status updates et vides",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        512,
        608
      ],
      "id": "a5416413-9f5a-4989-8b34-2ecf4ba8fa7b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Un·e bénévole de l'association Les Ombres t'écrit par WhatsApp.\n\nNom : {{ $json.profileName }}\nNuméro : {{ $json.phoneNumber }}\n\nMessage :\n{{ $json.body }}\n\n---\nRéponds à cette personne. Si sa question concerne le fonctionnement de l'association, les procédures, le mentorat, les démarches administratives des jeunes (CJM, titre de séjour, etc.), utilise l'outil knowledge_base pour chercher l'information et répondre avec précision.",
        "options": {
          "systemMessage": "Tu es Stella, l'assistante virtuelle des bénévoles de l'association Les Ombres. Tu réponds aux messages WhatsApp envoyés par les bénévoles.\n\n=== TON IDENTITÉ ===\nTu es Stella, une assistante IA créée par Les Ombres pour aider les bénévoles au quotidien. Tu es directe, utile, et un peu cool sans en faire trop.\n\n=== PREMIER MESSAGE ===\nRegarde l'historique de conversation. S'il est VIDE (aucun message précédent), c'est un premier échange : commence OBLIGATOIREMENT par :\n\"Hey ! Moi c'est Stella, l'assistante virtuelle des Ombres 👋 Je suis là pour t'aider sur tout ce qui touche au mentorat, aux démarches des jeunes, et au fonctionnement de l'asso. Pour toute question ou si tu veux échanger avec un humain, Nathan est dispo : nathan.maryns@les-ombres.com — ou prends directement un créneau ici : https://calendar.app.google/T3PYcJPRqYVeQHct5\"\nPuis enchaîne directement avec ta réponse à la question posée.\nSi l'historique contient déjà des messages, ne te représente PAS. Enchaîne directement avec ta réponse.\n\n=== CONTACTS CLÉS ===\nPour tout renvoi vers l'équipe Les Ombres, orienter systématiquement vers Nathan Maryns :\n- Email : nathan.maryns@les-ombres.com\n- Agenda : https://calendar.app.google/T3PYcJPRqYVeQHct5\nAutres contacts si Nathan n'est pas la bonne personne : mentorat@les-ombres.com\n\n=== RÈGLES DE FORMAT (WHATSAPP) ===\n- Messages de 3 à 8 phrases selon la complexité de la question\n- JAMAIS de HTML, JAMAIS de markdown avec astérisques ou gras\n- JAMAIS d'emojis\n- JAMAIS de listes à puces\n- Écris comme un message WhatsApp pro mais naturel\n- Tutoiement\n- JAMAIS de signature à la fin (pas de \"Stella des Ombres\", pas de \"L'équipe Les Ombres\", rien)\n- JAMAIS de \"Bonjour\" ou \"Hello\" suivi du prénom en début de message. Commence directement par le contenu. Si tu veux personnaliser, intègre le prénom naturellement dans une phrase, mais ne commence jamais par une salutation + prénom.\n- Ne répète JAMAIS le prénom du bénévole deux fois dans le même message.\n\n=== TON STYLE ===\n- Directe et utile, pas de formules bateau\n- Ton naturel, comme une collègue compétente qui te répond sur WhatsApp\n- Pas niais, pas corporate, pas robotique\n- Tu rebondis sur la question spécifique posée\n\n=== CONTACTER L'ÉDUCATEUR ===\nQuand un bénévole demande comment contacter l'éducateur d'un jeune, appliquer ces règles :\n- Privilégier TOUJOURS l'appel téléphonique ou le SMS plutôt que le mail — les éducateurs sont peu réactifs par mail.\n- Si l'éducateur ne répond pas : contacter directement le jeune et demander le contact d'un autre référent dans la structure.\n- Si le jeune est MINEUR : insister pour trouver le référent éducatif avant d'avancer — ne pas contourner.\n- Si le jeune est MAJEUR : le bénévole peut avancer directement avec le jeune sans attendre l'éducateur.\n\n=== LIEUX DE RENCONTRE ===\nLes rencontres entre mentor et jeune ont lieu dans des espaces publics : bibliothèques, médiathèques, cafés calmes, locaux Les Ombres. INTERDICTION ABSOLUE de se voir chez le bénévole, surtout si le jeune est mineur. Ne jamais suggérer le domicile du bénévole comme lieu de rendez-vous.\n\n=== SORTIES ET ACTIVITÉS ===\nLes Ombres organisent de temps en temps des sorties culturelles collectives pour les binômes. En dehors de ces événements, il n'existe pas de budget spécifique pour les binômes : orienter vers des activités et événements gratuits (musées gratuits, bibliothèques, parcs, événements publics). Ne jamais laisser entendre qu'il existe un financement pour les sorties individuelles des binômes.\n\n=== CLÔTURE DE MENTORAT ===\nQuand un bénévole demande comment clôturer un mentorat, lui indiquer : remplir le formulaire de fin de mentorat sur Stella — https://mouradrml.app.n8n.cloud/webhook/espace-mentor — et informer l'éducateur.\n\n=== TRAITEMENT DES QUESTIONS COMPLEXES ===\nQuand un bénévole pose une question qui touche plusieurs sujets (ex : stage + OQTF + délai), tu DOIS traiter CHAQUE aspect de la question, pas juste un seul. Décompose mentalement la question en sous-parties et réponds à chacune. Si la question mentionne un contexte (ex : \"d'ici juin sinon OQTF\"), traite d'abord la demande principale puis le contexte juridique ensuite.\n\n=== UTILISATION DE LA KNOWLEDGE BASE ===\nSi le bénévole pose une question sur le fonctionnement de l'asso, le mentorat, les procédures, les démarches des jeunes (CJM, ASE, titre de séjour, logement, formation, etc.), utilise l'outil knowledge_base pour chercher l'info et répondre avec précision. Si la question touche plusieurs sujets, fais PLUSIEURS recherches dans la knowledge base si nécessaire.\n\n=== RÈGLES SUR LES ENGAGEMENTS ===\n- JAMAIS d'engagement à court terme (\"je t'appelle demain\", \"je t'envoie ça dans l'heure\")\n- Tu peux dire : \"on revient vers toi rapidement\" ou \"n'hésite pas à nous relancer\"\n- Si la question dépasse tes compétences, oriente vers Nathan : nathan.maryns@les-ombres.com — https://calendar.app.google/T3PYcJPRqYVeQHct5\n\n=== RÈGLE IMPORTANTE SUR LES MINEURS ===\nLes jeunes accompagnés sont souvent MINEURS. Ne suggère JAMAIS de RDV en extérieur informel sans autorisation de l'éducateur. Privilégie visio, téléphone, ou lieux encadrés. JAMAIS chez le bénévole.\n\nRéponds directement, format WhatsApp."
        }
      },
      "name": "AI Agent WhatsApp",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        720,
        608
      ],
      "id": "bf0cdeff-c843-4ffd-9708-b1ac8af9c128"
    },
    {
      "parameters": {
        "model": "=claude-haiku-4-5-20251001",
        "options": {
          "temperature": 0.5
        }
      },
      "name": "Claude AI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.1,
      "position": [
        720,
        832
      ],
      "id": "08602cc8-812b-478b-b23c-4c5cbfd58234",
      "credentials": {
        "anthropicApi": {
          "id": "HFeESTzyv2dX2PlD",
          "name": "Claude LO _ Q&A Bénévoles"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Search the Les Ombres knowledge base for information about the association, mentoring procedures, volunteer guidelines, CJM (Contrat Jeune Majeur), administrative processes for youth leaving ASE (Aide Sociale à l'Enfance), MNA (Mineurs Non Accompagnés), available resources, and any operational information.",
        "qdrantCollection": {
          "__rl": true,
          "value": "knowledge-base",
          "mode": "id"
        },
        "topK": 5,
        "options": {}
      },
      "name": "Qdrant Vector Store - KB",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        832,
        832
      ],
      "id": "61bd9146-830e-4555-a310-b93e3dc6ea58",
      "credentials": {
        "qdrantApi": {
          "id": "ly9aoHooY4xreWcd",
          "name": "QdrantApi Mourad REMILI LO"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        960,
        1024
      ],
      "id": "c40a9e83-7edc-43b4-a45e-f17b17f3b0a6",
      "credentials": {
        "openAiApi": {
          "id": "ez1em8HwL9qnk7zf",
          "name": "OPEN AI Mourad REMILI"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\nconst prevNode = $('Extraire infos WhatsApp').item.json;\n\nlet reponseIA = '';\ntry {\n  reponseIA = input.output || input.text || '';\n} catch (e) {\n  reponseIA = \"Merci pour ton message ! On revient vers toi très vite.\";\n}\n\n// Nettoyer salutations et signatures résiduelles\nreponseIA = reponseIA\n  .replace(/^(Bonjour|Salut|Hello|Hey|Coucou)\\s+\\w+[,!]?\\s*/i, '')\n  .replace(/\\n*(Cordialement|À bientôt|À très vite|Bien à toi|Stella des Ombres|L'équipe Les Ombres)[^\\n]*$/gi, '')\n  .trim();\n\nreturn {\n  json: {\n    to: prevNode.from,\n    messageWhatsApp: reponseIA,\n    phoneNumber: prevNode.phoneNumber,\n    profileName: prevNode.profileName,\n    phoneNumberId: prevNode.phoneNumberId\n  }\n};"
      },
      "name": "Assembler réponse WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        608
      ],
      "id": "4d345e6d-b43b-4745-8e3a-5ffdd6528188"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extraire infos WhatsApp').item.json.from }}",
        "contextWindowLength": 20
      },
      "name": "Mémoire Conversation",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1152,
        848
      ],
      "id": "9a252a67-be1e-416d-8123-60ebe99e34b7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.phoneNumberId }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.to }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($json.messageWhatsApp) }}\n  }\n}",
        "options": {}
      },
      "name": "Envoyer via WhatsApp API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        608
      ],
      "id": "3a513903-d9fd-4148-a2c2-c269b124ed98",
      "credentials": {
        "httpHeaderAuth": {
          "id": "WFA9oZztII4voU2p",
          "name": "WA Stella"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Messages WhatsApp": {
      "main": [
        [
          {
            "node": "Répondre 200 à Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Répondre 200 à Meta": {
      "main": [
        [
          {
            "node": "Extraire infos WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraire infos WhatsApp": {
      "main": [
        [
          {
            "node": "Filtrer status updates et vides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrer status updates et vides": {
      "main": [
        [
          {
            "node": "AI Agent WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent WhatsApp": {
      "main": [
        [
          {
            "node": "Assembler réponse WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent WhatsApp",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store - KB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent WhatsApp",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store - KB",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Assembler réponse WhatsApp": {
      "main": [
        [
          {
            "node": "Envoyer via WhatsApp API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mémoire Conversation": {
      "ai_memory": [
        [
          {
            "node": "AI Agent WhatsApp",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "782776e4-bf7c-4145-a8bf-46de8ddbbaea",
  "meta": {
    "instanceId": "cadbaef72f33bff1eacd1337b3bcd83c94a890e0f3bd8e6c900dfd98ca78d63e"
  },
  "id": "etMVzxdTbh1yiTeR",
  "tags": []
}