koda_matching_realtime_v1.json
{
  "name": "🔍 Koda - Matching Temps Réel (sous-workflow)",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passThrough"
      },
      "id": "rt-trigger-001",
      "name": "⚡ Déclenché par Agent Koda",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT codes_rome_suggeres, departement, ville, secteur_vise, disponibilite, besoins FROM jeunes WHERE telephone_normalized = '{{ $json.query || $json.chatInput || '' }}' OR airtable_id = '{{ $json.query || $json.chatInput || '' }}' LIMIT 1;",
        "options": {}
      },
      "id": "rt-lookup-001",
      "name": "📋 Charger profil jeune",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [250, 0],
      "credentials": {
        "postgres": {
          "id": "2raQuLNZ5pOeUkJC",
          "name": "Postgres LO_BIA"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://entreprise.francetravail.fr/connexion/oauth2/access_token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "realm", "value": "/partenaire" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/x-www-form-urlencoded" }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "grant_type", "value": "client_credentials" },
            { "name": "client_id", "value": "=PAR_1jeuneconfie1emploi_7655c90b5cf49fb69404a0e15b867e9fc10f76c27ecc72660733d8bc027e0e3c" },
            { "name": "client_secret", "value": "=4483b16708d055691dbccd701be5a5d7fa6701c89c53a2c49b9322b542952cfa" },
            { "name": "scope", "value": "api_offresdemploiv2 o2dsoffre" }
          ]
        },
        "options": {}
      },
      "id": "rt-token-001",
      "name": "🔐 Token France Travail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 0]
    },
    {
      "parameters": {
        "jsCode": "// Construire les URLs de recherche à partir du profil jeune\nconst jeuneResults = $('📋 Charger profil jeune').all();\nconst jeune = jeuneResults.length > 0 ? jeuneResults[0].json : {};\nconst token = $('🔐 Token France Travail').first().json.access_token;\n\nconst dept = (jeune.departement || '75').trim();\nconst romes = (jeune.codes_rome_suggeres || 'M1805').trim();\n\nconst deptCoords = {\n  '75': { lat: 48.8566, lon: 2.3522 },\n  '77': { lat: 48.5272, lon: 2.6987 },\n  '78': { lat: 48.8014, lon: 2.1301 },\n  '91': { lat: 48.6293, lon: 2.4396 },\n  '92': { lat: 48.8283, lon: 2.2399 },\n  '93': { lat: 48.9100, lon: 2.4200 },\n  '94': { lat: 48.7904, lon: 2.4753 },\n  '95': { lat: 49.0354, lon: 2.0733 },\n  '69': { lat: 45.7640, lon: 4.8357 },\n  '13': { lat: 43.2965, lon: 5.3698 },\n  '33': { lat: 44.8378, lon: -0.5792 },\n  '59': { lat: 50.6292, lon: 3.0573 },\n  '44': { lat: 47.2184, lon: -1.5536 },\n  '06': { lat: 43.7102, lon: 7.2620 },\n  '34': { lat: 43.6110, lon: 3.8767 },\n  '35': { lat: 48.1173, lon: -1.6778 }\n};\nconst coords = deptCoords[dept] || deptCoords['75'];\n\nconst ft_url = `https://api.francetravail.io/partenaire/offresdemploi/v2/offres/search?departement=${dept}&distance=20&codeROME=${romes}&range=0-49`;\nconst lba_url = `https://api.apprentissage.beta.gouv.fr/api/job/v1/search?latitude=${coords.lat}&longitude=${coords.lon}&radius=25&romes=${romes}`;\n\nreturn [{ json: { token, ft_url, lba_url, dept, romes } }];"
      },
      "id": "rt-build-001",
      "name": "⚙️ Construire requêtes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 0]
    },
    {
      "parameters": {
        "url": "={{ $json.ft_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.token }}" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "rt-ft-001",
      "name": "📡 France Travail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, -100],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('⚙️ Construire requêtes').first().json.lba_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer eyJhbGciOiJIUzI1NiJ9.eyJfaWQiOiI2OWNiZGZiYzI5YjNlMDJmN2NkYjU0YTMiLCJhcGlfa2V5IjoieXBkNi95WkhnVDhPK25vdUxTRkFlcTVoWTl2OWFWeHFWK2hhU3NkT0phTT0iLCJvcmdhbmlzYXRpb24iOm51bGwsImVtYWlsIjoibW91cmFkLnJlbWlsaUBsZXMtb21icmVzLmNvbSIsImlzcyI6ImFwaSIsImlhdCI6MTc3NDk2ODc3NiwiZXhwIjoxODA2NTA0Nzc2fQ.5iKGnjdiuBPfRMV6rGJ12jmCyNf3WcrdUJDTGQaZwkg" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "rt-lba-001",
      "name": "📡 La Bonne Alternance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 100],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// 🎯 Formater les résultats pour retour à l'agent\n// Le toolWorkflow doit retourner du TEXTE que l'agent peut utiliser\n// ============================================================================\n\nconst ftData = $('📡 France Travail').first().json;\nconst lbaData = $('📡 La Bonne Alternance').first().json;\n\n// Offres France Travail\nconst offresFT = (ftData.resultats || []).slice(0, 10).map((o, i) => {\n  const debutant = (o.experienceExige === 'D' || o.experienceExige === 'S') ? 'Débutant accepté' : 'Expérience demandée';\n  const url = o.origineOffre?.urlOrigine || `https://candidat.francetravail.fr/offres/recherche/detail/${o.id}`;\n  return `${i+1}. ${o.intitule} | ${o.entreprise?.nom || 'Confidentiel'} | ${o.lieuTravail?.libelle || ''} | ${o.typeContratLibelle || ''} | ${debutant} | ${url}`;\n}).join('\\n');\n\n// Jobs La Bonne Alternance\nconst jobsLBA = (lbaData.jobs || []).slice(0, 5).map((j, i) => {\n  const url = j.apply?.url || '';\n  return `${i+1}. ${j.offer?.title || 'Alternance'} | ${j.workplace?.name || 'Confidentiel'} | ${j.workplace?.location?.city || ''} | Alternance | ${url}`;\n}).join('\\n');\n\nconst nbFT = (ftData.resultats || []).length;\nconst nbLBA = (lbaData.jobs || []).length;\n\nlet result = `RÉSULTATS DE RECHERCHE (${nbFT} offres FT + ${nbLBA} alternances LBA)\\n\\n`;\n\nif (offresFT) {\n  result += `OFFRES D'EMPLOI (France Travail) :\\n${offresFT}\\n\\n`;\n}\n\nif (jobsLBA) {\n  result += `ALTERNANCES (La Bonne Alternance) :\\n${jobsLBA}\\n\\n`;\n}\n\nif (nbFT === 0 && nbLBA === 0) {\n  result += `Aucune offre trouvée pour ces critères. Suggère au jeune d'élargir sa zone géographique ou ses secteurs de recherche.`;\n} else {\n  result += `Présente les 3-5 meilleures offres au jeune de manière naturelle. Privilégie celles qui acceptent les débutants. Inclus les liens pour postuler.`;\n}\n\nreturn [{ json: { response: result } }];"
      },
      "id": "rt-format-001",
      "name": "🎯 Formater résultats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 0]
    }
  ],
  "pinData": {},
  "connections": {
    "⚡ Déclenché par Agent Koda": {
      "main": [
        [
          {
            "node": "📋 Charger profil jeune",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Charger profil jeune": {
      "main": [
        [
          {
            "node": "🔐 Token France Travail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Token France Travail": {
      "main": [
        [
          {
            "node": "⚙️ Construire requêtes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Construire requêtes": {
      "main": [
        [
          {
            "node": "📡 France Travail",
            "type": "main",
            "index": 0
          },
          {
            "node": "📡 La Bonne Alternance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📡 France Travail": {
      "main": [
        [
          {
            "node": "🎯 Formater résultats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📡 La Bonne Alternance": {
      "main": [
        [
          {
            "node": "🎯 Formater résultats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "koda-rt-matching-v2",
  "meta": {
    "instanceId": "koda-les-ombres"
  },
  "tags": [
    { "name": "Koda" }
  ]
}
