koda_cv_subworkflow.json
{
  "name": "📄 Koda - CV Builder (sous-workflow)",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{ \"query\": \"TEST_MOURAD_001\" }"
      },
      "id": "cv-trigger",
      "name": "⚡ Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parser l'input du toolWorkflow\n// L'agent peut envoyer juste l'ID ou l'ID + contexte conversationnel\nconst raw = $input.first().json;\nlet fullInput = '';\nif (raw.query && typeof raw.query === 'string') fullInput = raw.query.trim();\nelse if (raw.chatInput && typeof raw.chatInput === 'string') fullInput = raw.chatInput.trim();\nelse if (raw.airtable_id) fullInput = raw.airtable_id.trim();\nelse {\n  for (const [k, v] of Object.entries(raw)) {\n    if (typeof v === 'string' && v.length > 3) {\n      fullInput = v.trim();\n      break;\n    }\n  }\n}\n\n// Extraire l'airtable_id du texte (peut contenir du contexte en plus)\nconst idMatch = fullInput.match(/(rec[A-Za-z0-9]+|TEST_[A-Za-z0-9_]+)/);\nconst airtableId = idMatch ? idMatch[1] : '';\n\n// Tout ce qui n'est pas l'ID = contexte conversationnel passé par l'agent\nconst extraContext = fullInput.replace(airtableId, '').trim();\n\nreturn [{ json: {\n  airtable_id: airtableId,\n  extra_context: extraContext,\n  has_id: airtableId.length > 0,\n  raw_input: fullInput.substring(0, 500)\n} }];"
      },
      "id": "cv-parse",
      "name": "🔧 Parser input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT\n  j.airtable_id, j.prenom, j.nom, j.telephone, j.email, j.ville,\n  j.departement, j.classe, j.secteur_vise, j.niveau_francais_declare,\n  j.mna, j.disponibilite, j.besoins, j.attentes_mentor, j.genre,\n  j.resume_suivi, j.structure, j.age_inscription,\n  COALESCE(\n    (SELECT STRING_AGG(DISTINCT sk.skill_name, ', ')\n     FROM koda_inference_skills sk\n     WHERE (sk.source_type = 'classe' AND sk.source_value = j.classe)\n        OR (sk.source_type = 'secteur' AND sk.source_value = j.secteur_vise)\n        OR (sk.source_type = 'situation' AND sk.source_value = 'MNA' AND j.mna = true)\n    ), ''\n  ) AS skills_inferees,\n  COALESCE(\n    (SELECT STRING_AGG(kc.message_text, ' | ' ORDER BY kc.sent_at DESC)\n     FROM koda_conversations kc\n     WHERE kc.jeune_id = j.airtable_id AND kc.direction = 'in'\n     LIMIT 20\n    ), ''\n  ) AS conversations_recentes\nFROM jeunes j\nWHERE j.airtable_id = '{{ $('🔧 Parser input').first().json.airtable_id }}'\nLIMIT 1;",
        "options": {}
      },
      "id": "cv-profil",
      "name": "📋 Charger profil complet",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "2raQuLNZ5pOeUkJC",
          "name": "Postgres LO_BIA"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Construire le prompt : ANALYSE d'abord, GÉNÉRATION si prêt\n// ============================================================\n\nconst j = $('📋 Charger profil complet').first().json;\n\nif (!j || !j.airtable_id) {\n  return [{ json: { skip: true, error: 'Profil non trouvé' } }];\n}\n\nconst systemPrompt = `Tu es un expert en création de CV pour jeunes en insertion professionnelle (16-25 ans).\n\nTu reçois TOUTES les données disponibles sur un jeune : profil, notes du mentor, compétences IA, et les conversations WhatsApp récentes (qui peuvent contenir des réponses à des questions que tu as posées précédemment sur son parcours).\n\nTON TRAVAIL EN 2 PHASES :\n\nPHASE 1 — ANALYSE (si pas assez de matière pour un CV pro) :\n1. Extraire les expériences DÉJÀ mentionnées (profil, resume_suivi, conversations)\n2. Identifier ce qui MANQUE pour un CV de qualité\n3. Générer LA PROCHAINE QUESTION à poser (UNE SEULE)\n\nPHASE 2 — GÉNÉRATION (si assez de matière) :\n1. Générer le CV complet en JSON\n\nCRITÈRES POUR PASSER EN PHASE 2 (il faut AU MOINS) :\n- Le secteur/métier visé est clair\n- Au moins 1 expérience (même informelle) avec suffisamment de détail pour rédiger 2-3 lignes de missions\n- Les langues parlées sont connues\n- On sait si le jeune a un email\nTu peux générer même sans centres d'intérêt ou sans formation détaillée.\n\nRÈGLES POUR LES QUESTIONS :\n- UNE question à la fois, jamais deux\n- Questions de DÉBLOCAGE (le jeune pense n'avoir rien fait) :\n  Mauvais : \"As-tu des expériences professionnelles ?\"\n  Bon : \"Tu m'as dit que tu voulais bosser en restauration. T'as déjà aidé en cuisine quelque part, même chez toi ou pour un repas collectif ?\"\n- Toujours en tutoiement, format WhatsApp court\n- Si le jeune a déjà répondu \"non\" à un sujet, ne pas reposer la même question\n- Ordre de priorité : expériences > langues > formation passée > email > centres d'intérêt\n\nRÈGLES POUR LA GÉNÉRATION DU CV :\n- Ne JAMAIS mentionner ASE, MNA, foyer, placement, MLDS\n- Ne JAMAIS inventer d'expérience\n- Valoriser professionnellement chaque fait réel\n- Expériences avec CATÉGORIES DE MISSIONS (pas juste des bullet points)\n  Ex: \"Service : accueil clientèle, prise de commandes, encaissement\"\n  Ex: \"Activité maritime : manipulation des équipements, tri des prises\"\n- Compétences en catégories : Savoir-faire / Compétences humaines / Compétences linguistiques\n- Accroche personnalisée (PAS de copié-collé \"Jeune et motivé...\")\n- UPE2A → \"Parcours de Français Langue Étrangère\"\n- Adresse : SEULEMENT la ville\n- Pas de date de naissance, pas de photo\n\nRéponds UNIQUEMENT en JSON :\n\nSi PHASE 1 (pas assez de matière) :\n{\n  \"phase\": \"collect\",\n  \"data_found\": {\n    \"experiences\": [\"description courte de chaque expérience trouvée\"],\n    \"formations\": [\"...\"],\n    \"langues\": [\"...\"],\n    \"competences\": [\"...\"],\n    \"email\": \"oui/non/inconnu\"\n  },\n  \"missing\": [\"ce qui manque encore\"],\n  \"next_question\": \"la question à poser au jeune (format WhatsApp, tutoiement)\",\n  \"question_context\": \"pourquoi cette question (pour l'agent)\"\n}\n\nSi PHASE 2 (assez de matière) :\n{\n  \"phase\": \"generate\",\n  \"prenom_nom\": \"...\",\n  \"telephone\": \"...\",\n  \"email\": \"...\",\n  \"ville\": \"...\",\n  \"titre\": \"...\",\n  \"profil\": \"... (3-4 lignes d'accroche personnalisée)\",\n  \"experiences\": [\n    {\n      \"poste\": \"...\",\n      \"lieu\": \"...\",\n      \"dates\": \"...\",\n      \"categories\": [\n        { \"nom\": \"...\", \"detail\": \"...\" }\n      ]\n    }\n  ],\n  \"formations\": [\n    { \"diplome\": \"...\", \"lieu\": \"...\", \"dates\": \"...\", \"detail\": \"...\" }\n  ],\n  \"competences\": [\n    { \"categorie\": \"Savoir-faire\", \"detail\": \"...\" },\n    { \"categorie\": \"Compétences humaines\", \"detail\": \"...\" },\n    { \"categorie\": \"Compétences linguistiques\", \"detail\": \"...\" }\n  ],\n  \"centres_interet\": \"...\"\n}`;\n\nconst userPrompt = `DONNÉES DU JEUNE :\n\nIdentité :\n- Prénom : ${j.prenom || ''}\n- Nom : ${j.nom || ''}\n- Ville : ${j.ville || ''} (${j.departement || ''})\n- Téléphone : ${j.telephone || ''}\n- Email : ${j.email || 'non renseigné'}\n- Genre : ${j.genre || 'non précisé'}\n\nFormation actuelle :\n- Classe : ${j.classe || 'non précisée'}\n- Secteur visé : ${j.secteur_vise || 'non précisé'}\n\nProfil :\n- MNA : ${j.mna ? 'Oui (ne pas mentionner dans le CV)' : 'Non'}\n- Niveau français : ${j.niveau_francais_declare || 'non précisé'}\n- Disponibilité : ${j.disponibilite || 'non précisée'}\n- Besoins exprimés : ${j.besoins || ''}\n- Ce qu'il/elle dit de lui/elle : \"${(j.attentes_mentor || '').substring(0, 1000)}\"\n\nCompétences inférées par IA :\n${j.skills_inferees || 'Aucune'}\n\nNotes du mentor (resume_suivi) — cherche des expériences cachées ici :\n${(j.resume_suivi || 'Pas de notes disponibles').substring(0, 2000)}\n\nConversations WhatsApp récentes (peuvent contenir des réponses aux questions CV) :\n${(j.conversations_recentes || 'Aucune conversation').substring(0, 2000)}\n\nAnalyse et décide : PHASE 1 (poser une question) ou PHASE 2 (générer le CV).`;\n\nreturn [{ json: { systemPrompt, userPrompt, jeune: j, skip: false } }];"
      },
      "id": "cv-build-prompt",
      "name": "📝 Construire prompt CV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "=COLLER_VOTRE_CLE_ANTHROPIC_ICI"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 2048, system: $json.systemPrompt, messages: [{ role: 'user', content: $json.userPrompt }] }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "cv-sonnet",
      "name": "🧠 Claude Sonnet (CV)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Interpréter la réponse Sonnet : question OU CV généré\n// ============================================================\n\nconst sonnetResp = $('🧠 Claude Sonnet (CV)').first().json;\nconst jeune = $('📝 Construire prompt CV').first().json.jeune;\n\nlet result = {};\ntry {\n  const text = sonnetResp.content?.[0]?.text || '{}';\n  const cleaned = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  result = JSON.parse(cleaned);\n} catch(e) {\n  return [{ json: { response: 'Erreur lors de l\\'analyse du profil. Réessaie.' } }];\n}\n\n// === PHASE 1 : Poser une question ===\nif (result.phase === 'collect') {\n  let response = 'PHASE COLLECTE CV\\n\\n';\n  response += 'Données déjà trouvées :\\n';\n  if (result.data_found?.experiences?.length > 0) {\n    response += '- Expériences : ' + result.data_found.experiences.join(', ') + '\\n';\n  } else {\n    response += '- Expériences : aucune trouvée encore\\n';\n  }\n  if (result.data_found?.langues?.length > 0) {\n    response += '- Langues : ' + result.data_found.langues.join(', ') + '\\n';\n  }\n  if (result.data_found?.formations?.length > 0) {\n    response += '- Formations : ' + result.data_found.formations.join(', ') + '\\n';\n  }\n  response += '\\nIl manque encore : ' + (result.missing || []).join(', ') + '\\n';\n  response += '\\nQUESTION À POSER AU JEUNE (pose-la telle quelle, ne la reformule pas) :\\n';\n  response += result.next_question + '\\n';\n  response += '\\nContexte : ' + (result.question_context || '');\n  response += '\\n\\nQuand le jeune aura répondu, rappelle cet outil pour continuer la collecte ou générer le CV.';\n\n  return [{ json: { response, phase: 'collect' } }];\n}\n\n// === PHASE 2 : Générer le CV HTML ===\nconst cv = result;\n\nlet html = '<!DOCTYPE html><html lang=\"fr\"><head><meta charset=\"UTF-8\"><style>';\nhtml += '@page{size:A4;margin:0}*{margin:0;padding:0;box-sizing:border-box}';\nhtml += 'body{font-family:Georgia,\"Times New Roman\",serif;font-size:10.5pt;line-height:1.4;color:#1a1a1a;background:white;width:210mm;min-height:297mm;padding:18mm 20mm 15mm 20mm}';\nhtml += '.header{text-align:center;margin-bottom:6mm}.header h1{font-size:22pt;font-weight:bold;letter-spacing:1.5px;margin-bottom:2mm}';\nhtml += '.header .contact{font-size:9.5pt;color:#444;line-height:1.6}.header .contact a{color:#1a5276;text-decoration:none}';\nhtml += '.header .titre{font-size:11pt;font-style:italic;color:#1a5276;margin-top:3mm}';\nhtml += '.section-title{text-align:center;font-size:11pt;font-weight:bold;letter-spacing:2px;text-transform:uppercase;margin-top:5mm;margin-bottom:3mm;border-top:1px solid #1a1a1a;border-bottom:1px solid #1a1a1a;padding:1.5mm 0}';\nhtml += '.profil{font-size:10pt;text-align:justify;line-height:1.5;margin-bottom:2mm;color:#333}';\nhtml += '.exp{margin-bottom:4mm}.exp-header{display:flex;justify-content:space-between;align-items:baseline;margin-bottom:1mm}';\nhtml += '.exp-title{font-weight:bold;font-size:10.5pt;text-transform:uppercase}.exp-dates{font-style:italic;font-size:9pt;color:#555}';\nhtml += '.exp-lieu{font-style:italic;font-size:9.5pt;color:#555;margin-bottom:1.5mm}';\nhtml += '.cat{margin-bottom:1mm;font-size:10pt;line-height:1.45;text-align:justify}.cat-name{font-weight:bold}';\nhtml += '.form{margin-bottom:3mm}.form-header{display:flex;justify-content:space-between;align-items:baseline}';\nhtml += '.form-title{font-weight:bold;font-size:10.5pt;text-transform:uppercase}.form-dates{font-style:italic;font-size:9pt;color:#555}';\nhtml += '.form-lieu{font-style:italic;font-size:9.5pt;color:#555}.form-detail{font-size:9.5pt;color:#333;margin-top:0.5mm}';\nhtml += '.comp-line{margin-bottom:1.5mm;font-size:10pt;line-height:1.5}.comp-cat{font-weight:bold}';\nhtml += '.interets{font-size:10pt;color:#333}';\nhtml += '</style></head><body>';\n\n// Header\nhtml += '<div class=\"header\">';\nhtml += '<h1>' + (cv.prenom_nom || jeune.prenom + ' ' + (jeune.nom || '')) + '</h1>';\nhtml += '<div class=\"contact\">';\nif (cv.telephone) html += 'Téléphone : ' + cv.telephone + '<br>';\nif (cv.email && cv.email !== 'non renseigné') html += 'Email : <a href=\"mailto:' + cv.email + '\">' + cv.email + '</a>';\nhtml += '</div>';\nif (cv.titre) html += '<div class=\"titre\">' + cv.titre + '</div>';\nhtml += '</div>';\n\n// Profil\nif (cv.profil) {\n  html += '<div class=\"section-title\">Profil</div>';\n  html += '<div class=\"profil\">' + cv.profil + '</div>';\n}\n\n// Expériences\nif (cv.experiences && cv.experiences.length > 0) {\n  html += '<div class=\"section-title\">Expérience</div>';\n  for (const exp of cv.experiences) {\n    html += '<div class=\"exp\">';\n    html += '<div class=\"exp-header\"><span class=\"exp-title\">' + (exp.poste||'') + '</span><span class=\"exp-dates\">' + (exp.dates||'') + '</span></div>';\n    if (exp.lieu) html += '<div class=\"exp-lieu\">' + exp.lieu + '</div>';\n    if (exp.categories) {\n      for (const cat of exp.categories) {\n        html += '<div class=\"cat\"><span class=\"cat-name\">' + cat.nom + ' : </span>' + cat.detail + '</div>';\n      }\n    }\n    html += '</div>';\n  }\n}\n\n// Formations\nif (cv.formations && cv.formations.length > 0) {\n  html += '<div class=\"section-title\">Formation</div>';\n  for (const f of cv.formations) {\n    html += '<div class=\"form\">';\n    html += '<div class=\"form-header\"><span class=\"form-title\">' + (f.diplome||'') + '</span><span class=\"form-dates\">' + (f.dates||'') + '</span></div>';\n    if (f.lieu) html += '<div class=\"form-lieu\">' + f.lieu + '</div>';\n    if (f.detail) html += '<div class=\"form-detail\">' + f.detail + '</div>';\n    html += '</div>';\n  }\n}\n\n// Compétences\nif (cv.competences && cv.competences.length > 0) {\n  html += '<div class=\"section-title\">Compétences</div>';\n  for (const c of cv.competences) {\n    html += '<div class=\"comp-line\"><span class=\"comp-cat\">' + c.categorie + ' : </span>' + c.detail + '</div>';\n  }\n}\n\n// Centres d'intérêt\nif (cv.centres_interet) {\n  html += '<div class=\"section-title\">Centres d\\'intérêt</div>';\n  html += '<div class=\"interets\">' + cv.centres_interet + '</div>';\n}\n\nhtml += '</body></html>';\n\n// Résumé pour l'agent\nlet summary = 'CV GÉNÉRÉ !\\n\\n';\nsummary += 'Titre : ' + (cv.titre || '') + '\\n';\nsummary += 'Profil : ' + (cv.profil || '').substring(0, 150) + '...\\n\\n';\nif (cv.experiences) {\n  summary += 'Expériences :\\n';\n  cv.experiences.forEach(e => { summary += '- ' + e.poste + ' (' + e.dates + ')\\n'; });\n}\nif (cv.formations) {\n  summary += '\\nFormations :\\n';\n  cv.formations.forEach(f => { summary += '- ' + f.diplome + ' (' + f.dates + ')\\n'; });\n}\nsummary += '\\nPrésente ce récap au jeune et demande-lui si c\\'est bon ou s\\'il veut modifier quelque chose.';\nsummary += '\\nLe HTML du CV est prêt pour conversion en PDF.';\n\nreturn [{ json: { response: summary, phase: 'generate', cv_html: html, cv_json: cv } }];"
      },
      "id": "cv-html",
      "name": "🎨 Construire HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        0
      ]
    }
  ],
  "connections": {
    "⚡ Trigger": {
      "main": [
        [
          {
            "node": "🔧 Parser input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Parser input": {
      "main": [
        [
          {
            "node": "📋 Charger profil complet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Charger profil complet": {
      "main": [
        [
          {
            "node": "📝 Construire prompt CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Construire prompt CV": {
      "main": [
        [
          {
            "node": "🧠 Claude Sonnet (CV)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Claude Sonnet (CV)": {
      "main": [
        [
          {
            "node": "🎨 Construire HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "koda-cv-v1",
  "meta": {
    "instanceId": "koda-les-ombres"
  },
  "tags": [
    {
      "name": "Koda"
    }
  ]
}