Sync Airtable → Postgres — Jeunes v4 (avec IDs).json
{
  "name": "Sync Airtable → Postgres — Jeunes v4 (avec IDs)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "e489a8ce-5bbf-4228-b0bd-fbfd8a3d74be",
      "name": "Toutes les 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2320,
        368
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appgGTAmATXzat7QH",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbloJitXctef8M0UY",
          "mode": "id"
        },
        "options": {
          "view": {
            "__rl": true,
            "value": "viwgkTMtynOEftB16",
            "mode": "id"
          }
        }
      },
      "id": "282ddd9b-5789-4749-be1c-f541493cf178",
      "name": "Lire Jeunes (vue BIA)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2544,
        368
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Xaxjnvs4Inrvxc15",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const f = item.json;\n  \n  const first = (v) => Array.isArray(v) ? (v[0] || null) : (v || null);\n  const firstStr = (v) => { const r = first(v); return r != null ? String(r).trim() : null; };\n  const toInt = (v) => { const n = parseInt(first(v)); return isNaN(n) ? null : n; };\n  const toBool = (v) => {\n    const val = firstStr(v);\n    if (!val) return false;\n    return val.toLowerCase() === 'oui' || val === 'true';\n  };\n  const toDate = (v) => {\n    const val = firstStr(v);\n    if (!val) return null;\n    if (val.includes('/')) {\n      const p = val.split('/');\n      if (p.length === 3) return p[2] + '-' + p[1].padStart(2,'0') + '-' + p[0].padStart(2,'0');\n    }\n    if (val.includes('T')) return val.substring(0, 10);\n    return val.substring(0, 10);\n  };\n  const arrJoin = (v) => {\n    if (Array.isArray(v)) return v.join(', ');\n    return v ? String(v) : null;\n  };\n  const esc = (v) => {\n    if (v === null || v === undefined) return 'NULL';\n    return \"'\" + String(v).replace(/'/g, \"''\").substring(0, 5000) + \"'\";\n  };\n  const num = (v) => (v !== null && v !== undefined) ? v : 'NULL';\n\n  const j = {\n    airtable_id: item.json.id,\n    prenom: firstStr(f['Prénom jeune']),\n    nom: firstStr(f['Nom de famille jeune']),\n    email: firstStr(f['Email jeune']),\n    telephone: firstStr(f['Numéro de téléphone Jeune']),\n    age_inscription: toInt(f['Âge à l\\'inscription']),\n    ville: firstStr(f['Où tu habites ? (ville)'] || f['Où tu habites (ville)']),\n    structure: firstStr(f['Nom de la structure (à partir de Structures)'] || f['Structures']),\n    departement: firstStr(f['Département (from Structures)']),\n    ville_structure: firstStr(f['Ville (à partir de Structures)']),\n    referent: firstStr(f['Référent']),\n    email_referent: firstStr(f['Email référent']),\n    tel_referent: firstStr(f['Numéro du référent']),\n    statut: firstStr(f['Statut de la demande']),\n    binome_id: firstStr(f['Binôme ID']),\n    prenom_benevole: firstStr(f['Prénom bénévole officiel']),\n    nom_benevole: firstStr(f['Nom bénévole']),\n    date_matching: toDate(f['Date de matching']),\n    date_fin_mentorat: toDate(f['Date de fin de mentorat']),\n    duree_mentorat: firstStr(f['Durée mentorat']),\n    besoins: arrJoin(f['J\\'ai besoin d\\'aide pour']),\n    mna: toBool(f['MNA']),\n    es_tu: firstStr(f['Es-tu ...']),\n    resume_suivi: firstStr(f['Résumé de suivi']),\n    jours_depuis_suivi: toInt(f['Jours depuis dernier remplissage']),\n    score_binome: firstStr(f['Score Binôme']),\n    classification: firstStr(f['Classification Binôme']),\n    dernier_mood: firstStr(f['Mood (à partir de Besoin d\\'aide bénévoles MAJ)']),\n    dernier_cr: firstStr(f['Compte rendu (à partir de Besoin d\\'aide bénévoles MAJ)']),\n    mentor_id: firstStr(f['Mentor']),\n    structure_id: firstStr(f['Structures']),\n    classe: firstStr(f['En quelle classe es-tu ?']),\n    attentes_mentor: firstStr(f['Qu\\'attends-tu de ton mentor et qu\\'aimerais-tu accomplir avec lui/elle au cours de cet accompagnement ?']),\n    niveau_francais_declare: firstStr(f['Ton niveau de français :']),\n    secteur_vise: firstStr(f['Quel est ton secteur d\\'activité ?'])\n  };\n\n  const sql = `INSERT INTO jeunes (airtable_id, prenom, nom, email, telephone, age_inscription, ville, structure, departement, ville_structure, referent, email_referent, tel_referent, statut, binome_id, prenom_benevole, nom_benevole, date_matching, date_fin_mentorat, duree_mentorat, besoins, mna, es_tu, resume_suivi, jours_depuis_suivi, score_binome, classification, dernier_mood, dernier_cr, mentor_id, structure_id, classe, attentes_mentor, niveau_francais_declare, secteur_vise, synced_at) VALUES (${esc(j.airtable_id)}, ${esc(j.prenom)}, ${esc(j.nom)}, ${esc(j.email)}, ${esc(j.telephone)}, ${num(j.age_inscription)}, ${esc(j.ville)}, ${esc(j.structure)}, ${esc(j.departement)}, ${esc(j.ville_structure)}, ${esc(j.referent)}, ${esc(j.email_referent)}, ${esc(j.tel_referent)}, ${esc(j.statut)}, ${esc(j.binome_id)}, ${esc(j.prenom_benevole)}, ${esc(j.nom_benevole)}, ${esc(j.date_matching)}, ${esc(j.date_fin_mentorat)}, ${esc(j.duree_mentorat)}, ${esc(j.besoins)}, ${j.mna}, ${esc(j.es_tu)}, ${esc(j.resume_suivi)}, ${num(j.jours_depuis_suivi)}, ${esc(j.score_binome)}, ${esc(j.classification)}, ${esc(j.dernier_mood)}, ${esc(j.dernier_cr)}, ${esc(j.mentor_id)}, ${esc(j.structure_id)}, ${esc(j.classe)}, ${esc(j.attentes_mentor)}, ${esc(j.niveau_francais_declare)}, ${esc(j.secteur_vise)}, NOW()) ON CONFLICT (airtable_id) DO UPDATE SET prenom=EXCLUDED.prenom, nom=EXCLUDED.nom, email=EXCLUDED.email, telephone=EXCLUDED.telephone, age_inscription=EXCLUDED.age_inscription, ville=EXCLUDED.ville, structure=EXCLUDED.structure, departement=EXCLUDED.departement, ville_structure=EXCLUDED.ville_structure, referent=EXCLUDED.referent, email_referent=EXCLUDED.email_referent, tel_referent=EXCLUDED.tel_referent, statut=EXCLUDED.statut, binome_id=EXCLUDED.binome_id, prenom_benevole=EXCLUDED.prenom_benevole, nom_benevole=EXCLUDED.nom_benevole, date_matching=EXCLUDED.date_matching, date_fin_mentorat=EXCLUDED.date_fin_mentorat, duree_mentorat=EXCLUDED.duree_mentorat, besoins=EXCLUDED.besoins, mna=EXCLUDED.mna, es_tu=EXCLUDED.es_tu, resume_suivi=EXCLUDED.resume_suivi, jours_depuis_suivi=EXCLUDED.jours_depuis_suivi, score_binome=EXCLUDED.score_binome, classification=EXCLUDED.classification, dernier_mood=EXCLUDED.dernier_mood, dernier_cr=EXCLUDED.dernier_cr, mentor_id=EXCLUDED.mentor_id, structure_id=EXCLUDED.structure_id, classe=EXCLUDED.classe, attentes_mentor=EXCLUDED.attentes_mentor, niveau_francais_declare=EXCLUDED.niveau_francais_declare, secteur_vise=EXCLUDED.secteur_vise, synced_at=NOW();`;\n\n  results.push({ json: { query: sql } });\n}\n\nreturn results;"
      },
      "id": "0de8e90f-a40d-40b3-9db9-6956e6a44537",
      "name": "Transformer → SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2768,
        368
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {}
      },
      "id": "7ae4b2d9-e46e-4514-9ca1-3de71623a0ac",
      "name": "Insert Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2992,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "2raQuLNZ5pOeUkJC",
          "name": "Postgres LO_BIA"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sync_log (table_name, records_synced, started_at) VALUES ('jeunes', (SELECT COUNT(*) FROM jeunes), NOW());",
        "options": {}
      },
      "id": "c2d3a45c-e386-4b0d-a137-d8f2895a7f6a",
      "name": "Logger sync",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3200,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "2raQuLNZ5pOeUkJC",
          "name": "Postgres LO_BIA"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Toutes les 5 min": {
      "main": [
        [
          {
            "node": "Lire Jeunes (vue BIA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lire Jeunes (vue BIA)": {
      "main": [
        [
          {
            "node": "Transformer → SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformer → SQL": {
      "main": [
        [
          {
            "node": "Insert Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Postgres": {
      "main": [
        [
          {
            "node": "Logger sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "109e5e32-e2de-4b18-a159-973d8efbb3ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cadbaef72f33bff1eacd1337b3bcd83c94a890e0f3bd8e6c900dfd98ca78d63e"
  },
  "id": "P6pvtbq1Jbqp4PZL",
  "tags": []
}