🔍 France Travail - Offres + Bonne Boite v4.json
{
  "name": "🔍 France Travail - Offres + Bonne Alternance v5",
  "nodes": [
    {
      "parameters": {},
      "id": "c791bd1f-1d2e-43a1-bc80-195d172bda7c",
      "name": "▶️ Lancer le test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://entreprise.francetravail.fr/connexion/oauth2/access_token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "realm",
              "value": "/partenaire"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "=PAR_1jeuneconfie1emploi_7655c90b5cf49fb69404a0e15b867e9fc10f76c27ecc72660733d8bc027e0e3c"
            },
            {
              "name": "client_secret",
              "value": "=4483b16708d055691dbccd701be5a5d7fa6701c89c53a2c49b9322b542952cfa"
            },
            {
              "name": "scope",
              "value": "api_offresdemploiv2 o2dsoffre"
            }
          ]
        },
        "options": {}
      },
      "id": "9c01380d-cfda-474e-bd1b-6e9ac884171c",
      "name": "🔐 Token Offres",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -192,
        -128
      ]
    },
    {
      "parameters": {
        "url": "https://api.francetravail.io/partenaire/offresdemploi/v2/offres/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "departement",
              "value": "75"
            },
            {
              "name": "distance",
              "value": "20"
            },
            {
              "name": "codeROME",
              "value": "G1602,G1603,G1605,N1103,N1105,F1702,F1603,F1613,K2204,D1507,D1106,D1102,A1203,I1606,K1303,H2301,I1304"
            },
            {
              "name": "range",
              "value": "0-149"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node['🔐 Token Offres'].json.access_token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "0e481692-488b-4bb5-a806-9effb5135d3a",
      "name": "📋 Chercher Offres IDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// 📊 Formater les offres d'emploi v2\n// ============================================\n\nconst offresData = $node['📋 Chercher Offres IDF'].json;\nconst resultats = offresData.resultats || [];\n\nconst ROME_SECTEURS = {\n  'G1602': 'Restauration',\n  'G1603': 'Restauration',\n  'G1605': 'Restauration',\n  'N1103': 'Logistique',\n  'N1105': 'Logistique',\n  'F1702': 'BTP - Maçonnerie',\n  'F1603': 'BTP - Plomberie',\n  'F1613': 'BTP - Étanchéité',\n  'K2204': 'Nettoyage',\n  'D1507': 'Commerce - Mise en rayon',\n  'D1106': 'Commerce - Vente',\n  'D1102': 'Boulangerie',\n  'A1203': 'Paysagisme',\n  'I1606': 'Carrosserie',\n  'K1303': 'Petite enfance',\n  'H2301': 'Production industrielle',\n  'I1304': 'Maintenance industrielle'\n};\n\nconst offresFormatees = resultats.map(offre => {\n  const codeRome = offre.romeCode || '';\n  return {\n    id: offre.id,\n    titre: offre.intitule,\n    entreprise: offre.entreprise?.nom || 'Non communiqué',\n    lieu: offre.lieuTravail?.libelle || 'Non précisé',\n    code_postal: offre.lieuTravail?.codePostal || '',\n    contrat: offre.typeContratLibelle || offre.typeContrat || '',\n    nature_contrat: offre.natureContrat || '',\n    est_alternance: offre.alternance === true,\n    salaire: offre.salaire?.libelle || 'Non communiqué',\n    experience: offre.experienceExige || 'Non précisé',\n    competences: (offre.competences || []).map(c => c.libelle).join(', '),\n    description_courte: (offre.description || '').substring(0, 300) + '...',\n    url_offre: offre.origineOffre?.urlOrigine || `https://candidat.francetravail.fr/offres/recherche/detail/${offre.id}`,\n    date_creation: offre.dateCreation,\n    code_rome: codeRome,\n    metier: offre.romeLibelle,\n    secteur_ombres: ROME_SECTEURS[codeRome] || 'Autre',\n    qualification: offre.qualificationLibelle || '',\n    niveau_langue_requis: (offre.langues || []).map(l => `${l.libelle}: ${l.exigence}`).join(', ') || 'Non précisé',\n    permis_requis: (offre.permis || []).map(p => p.libelle).join(', ') || 'Non requis',\n    debutant_accepte: offre.experienceExige === 'D',\n    formations: (offre.formations || []).map(f => f.niveauLibelle).join(', ') || 'Non précisé'\n  };\n});\n\nconst stats = {\n  total_disponibles: offresData.contentRange?.maxResults || resultats.length,\n  nb_retournes: offresFormatees.length,\n  nb_alternance: offresFormatees.filter(o => o.est_alternance).length,\n  nb_debutant_accepte: offresFormatees.filter(o => o.debutant_accepte).length,\n  par_secteur: offresFormatees.reduce((acc, o) => {\n    acc[o.secteur_ombres] = (acc[o.secteur_ombres] || 0) + 1;\n    return acc;\n  }, {}),\n  par_contrat: offresFormatees.reduce((acc, o) => {\n    acc[o.contrat] = (acc[o.contrat] || 0) + 1;\n    return acc;\n  }, {})\n};\n\nreturn [{ json: { ...stats, offres: offresFormatees } }];"
      },
      "id": "52b360fb-49c1-4a59-9ffd-f0456b88c456",
      "name": "⚙️ Formater Offres",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -128
      ]
    },
    {
      "parameters": {
        "url": "https://api.apprentissage.beta.gouv.fr/job/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "48.8566"
            },
            {
              "name": "longitude",
              "value": "2.3522"
            },
            {
              "name": "radius",
              "value": "20"
            },
            {
              "name": "romes",
              "value": "G1602,G1603,G1605,N1103,N1105,F1702,F1603,F1613,K2204,D1507,D1106,D1102,A1203,I1606,K1303,H2301,I1304"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiJ9.eyJfaWQiOiI2OWNiZGZiYzI5YjNlMDJmN2NkYjU0YTMiLCJhcGlfa2V5IjoieXBkNi95WkhnVDhPK25vdUxTRkFlcTVoWTl2OWFWeHFWK2hhU3NkT0phTT0iLCJvcmdhbmlzYXRpb24iOm51bGwsImVtYWlsIjoibW91cmFkLnJlbWlsaUBsZXMtb21icmVzLmNvbSIsImlzcyI6ImFwaSIsImlhdCI6MTc3NDk2ODc3NiwiZXhwIjoxODA2NTA0Nzc2fQ.5iKGnjdiuBPfRMV6rGJ12jmCyNf3WcrdUJDTGQaZwkg"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "📋 Chercher Alternance IDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// 🎓 Formater La Bonne Alternance\n// ============================================\n\nconst data = $node['📋 Chercher Alternance IDF'].json;\nconst jobs = data.jobs || [];\nconst recruiters = data.recruiters || [];\nconst warnings = data.warnings || [];\n\n// --- Formater les offres d'alternance ---\nconst offresFormatees = jobs.map(job => ({\n  source: job.identifier?.partner_label || 'Inconnu',\n  id_partenaire: job.identifier?.partner_job_id || '',\n  id_lba: job.identifier?.id || null,\n  titre: job.offer?.title || '',\n  description_courte: (job.offer?.description || '').substring(0, 300) + '...',\n  entreprise: job.workplace?.name || 'Non communiqué',\n  enseigne: job.workplace?.brand || '',\n  raison_sociale: job.workplace?.legal_name || '',\n  siret: job.workplace?.siret || '',\n  effectif: job.workplace?.size || '',\n  ville: job.workplace?.location?.city || '',\n  code_postal: job.workplace?.location?.zipCode || '',\n  site_web: job.workplace?.website || '',\n  naf: job.workplace?.domain?.naf?.code || '',\n  naf_label: job.workplace?.domain?.naf?.label || '',\n  opco: job.workplace?.domain?.opco || '',\n  type_contrat: (job.contract?.type || []).join(', '),\n  date_debut: job.contract?.start || '',\n  duree_mois: job.contract?.duration || null,\n  mode_travail: job.contract?.remote || '',\n  diplome_vise: job.offer?.target_diploma?.label || '',\n  niveau_diplome: job.offer?.target_diploma?.level || '',\n  codes_rome: (job.offer?.rome_codes || []).join(', '),\n  competences_attendues: (job.offer?.desired_skills || []).join('; '),\n  competences_a_acquerir: (job.offer?.to_be_acquired_skills || []).join('; '),\n  conditions_acces: (job.offer?.access_conditions || []).join('; '),\n  nb_postes: job.offer?.opening_count || 1,\n  date_creation: job.offer?.publication?.creation || '',\n  date_expiration: job.offer?.publication?.expiration || '',\n  url_candidature: job.apply?.url || '',\n  telephone: job.apply?.phone || '',\n  est_delegue_cfa: job.is_delegated || false\n}));\n\n// --- Formater les recruteurs potentiels ---\nconst recruteursFormates = recruiters.map(r => ({\n  id: r.identifier?.id || '',\n  source: r.identifier?.partner_label || 'recruteurs_lba',\n  entreprise: r.workplace?.name || 'Non communiqué',\n  enseigne: r.workplace?.brand || '',\n  raison_sociale: r.workplace?.legal_name || '',\n  siret: r.workplace?.siret || '',\n  effectif: r.workplace?.size || '',\n  ville: r.workplace?.location?.city || '',\n  code_postal: r.workplace?.location?.zipCode || '',\n  site_web: r.workplace?.website || '',\n  naf: r.workplace?.domain?.naf?.code || '',\n  naf_label: r.workplace?.domain?.naf?.label || '',\n  opco: r.workplace?.domain?.opco || '',\n  url_candidature: r.apply?.url || '',\n  telephone: r.apply?.phone || ''\n}));\n\n// --- Stats ---\nconst parSource = offresFormatees.reduce((acc, o) => {\n  acc[o.source] = (acc[o.source] || 0) + 1;\n  return acc;\n}, {});\n\nconst parContrat = offresFormatees.reduce((acc, o) => {\n  const t = o.type_contrat || 'Non précisé';\n  acc[t] = (acc[t] || 0) + 1;\n  return acc;\n}, {});\n\nreturn [{\n  json: {\n    source: 'La Bonne Alternance',\n    zone: 'Paris + 20km',\n    nb_offres: offresFormatees.length,\n    nb_recruteurs: recruteursFormates.length,\n    par_source: parSource,\n    par_contrat: parContrat,\n    warnings: warnings,\n    offres: offresFormatees,\n    recruteurs: recruteursFormates\n  }\n}];"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "⚙️ Formater Alternance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        128
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "▶️ Lancer le test": {
      "main": [
        [
          {
            "node": "🔐 Token Offres",
            "type": "main",
            "index": 0
          },
          {
            "node": "📋 Chercher Alternance IDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Token Offres": {
      "main": [
        [
          {
            "node": "📋 Chercher Offres IDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Chercher Offres IDF": {
      "main": [
        [
          {
            "node": "⚙️ Formater Offres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Chercher Alternance IDF": {
      "main": [
        [
          {
            "node": "⚙️ Formater Alternance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "14ba5c41-89dd-4aa2-be63-e2f9ed2001c6",
  "meta": {
    "instanceId": "cadbaef72f33bff1eacd1337b3bcd83c94a890e0f3bd8e6c900dfd98ca78d63e"
  },
  "id": "8VQ4daPdxZKqCaF8",
  "tags": []
}