🤖 Koda - Moteur de Matching v1.json
{
  "name": "🤖 Koda - Moteur de Matching v3",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-001",
      "name": "▶️ Lancer le matching",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://entreprise.francetravail.fr/connexion/oauth2/access_token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "realm",
              "value": "/partenaire"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "=PAR_1jeuneconfie1emploi_7655c90b5cf49fb69404a0e15b867e9fc10f76c27ecc72660733d8bc027e0e3c"
            },
            {
              "name": "client_secret",
              "value": "=4483b16708d055691dbccd701be5a5d7fa6701c89c53a2c49b9322b542952cfa"
            },
            {
              "name": "scope",
              "value": "api_offresdemploiv2 o2dsoffre"
            }
          ]
        },
        "options": {}
      },
      "id": "token-001",
      "name": "🔐 Token France Travail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -550,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH skills_jeune AS (\n  SELECT j.airtable_id, sk.skill_name as skill\n  FROM jeunes j\n  INNER JOIN koda_inference_skills sk\n    ON (sk.source_type = 'classe' AND sk.source_value = j.classe)\n    OR (sk.source_type = 'secteur' AND sk.source_value = j.secteur_vise)\n  WHERE j.enrichi_par_ia = true\n    AND j.pret_a_postuler = true\n    AND j.codes_rome_suggeres IS NOT NULL\n    AND j.situation_actuelle NOT LIKE '%Déjà en%'\n    AND j.situation_actuelle NOT LIKE '%décroché%'\n    AND j.situation_actuelle NOT LIKE '%trouvé%'\n\n  UNION\n\n  SELECT j.airtable_id, sk.skill_name as skill\n  FROM jeunes j\n  INNER JOIN koda_inference_skills sk\n    ON sk.source_type = 'situation' AND sk.source_value = 'MNA'\n  WHERE j.mna = true\n    AND j.enrichi_par_ia = true\n    AND j.pret_a_postuler = true\n    AND j.codes_rome_suggeres IS NOT NULL\n    AND j.situation_actuelle NOT LIKE '%Déjà en%'\n    AND j.situation_actuelle NOT LIKE '%décroché%'\n    AND j.situation_actuelle NOT LIKE '%trouvé%'\n)\nSELECT\n  j.airtable_id, j.prenom, j.codes_rome_suggeres, j.departement, j.ville,\n  j.niveau_francais_declare, j.classe, j.disponibilite, j.secteurs_interet,\n  j.besoins, j.attentes_mentor, j.mna, j.secteur_vise,\n  COALESCE(\n    (SELECT STRING_AGG(DISTINCT s.skill, ', ' ORDER BY s.skill)\n     FROM skills_jeune s WHERE s.airtable_id = j.airtable_id),\n    ''\n  ) AS skills_inferees\nFROM jeunes j\nWHERE j.enrichi_par_ia = true\n  AND j.pret_a_postuler = true\n  AND j.codes_rome_suggeres IS NOT NULL\n  AND j.situation_actuelle NOT LIKE '%Déjà en%'\n  AND j.situation_actuelle NOT LIKE '%décroché%'\n  AND j.situation_actuelle NOT LIKE '%trouvé%'",
        "options": {}
      },
      "id": "read-jeunes-001",
      "name": "📋 Lire jeunes éligibles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -300,
        -100
      ],
      "credentials": {
        "postgres": {
          "id": "2raQuLNZ5pOeUkJC",
          "name": "Postgres LO_BIA"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT rome_source, rome_cible, type_passerelle as type FROM koda_rome_passerelles",
        "options": {}
      },
      "id": "read-passerelles-001",
      "name": "📋 Charger passerelles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -300,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "2raQuLNZ5pOeUkJC",
          "name": "Postgres LO_BIA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === 1. Lecture des donnees d'entree ===\nconst jeunes = $('📋 Lire jeunes éligibles').all();\nconst token = $('🔐 Token France Travail').first().json.access_token;\nconst passerellesRaw = $('📋 Charger passerelles').all();\n\n// === 2. Indexer les passerelles par rome_source ===\n// Structure attendue de chaque passerelle :\n//   { rome_source, rome_cible, type } ou type in ('proche', 'evolution', ...)\nconst passerellesMap = {};\nfor (const p of passerellesRaw) {\n  const src = (p.json.rome_source || '').trim();\n  const cible = (p.json.rome_cible || '').trim();\n  const type = (p.json.type || '').trim().toLowerCase();\n  if (!src || !cible) continue;\n  if (type !== 'proche' && type !== 'evolution') continue;\n  if (!passerellesMap[src]) passerellesMap[src] = [];\n  passerellesMap[src].push(cible);\n}\n\n// === 3. Coordonnees par departement ===\nconst deptCoords = {\n  '06': { lat: 43.7102, lon: 7.2620 },\n  '13': { lat: 43.2965, lon: 5.3698 },\n  '33': { lat: 44.8378, lon: -0.5792 },\n  '34': { lat: 43.6110, lon: 3.8767 },\n  '35': { lat: 48.1173, lon: -1.6778 },\n  '44': { lat: 47.2184, lon: -1.5536 },\n  '59': { lat: 50.6292, lon: 3.0573 },\n  '69': { lat: 45.7640, lon: 4.8357 },\n  '75': { lat: 48.8566, lon: 2.3522 },\n  '77': { lat: 48.5272, lon: 2.6987 },\n  '78': { lat: 48.8014, lon: 2.1301 },\n  '89': { lat: 47.7973, lon: 3.5674 },\n  '91': { lat: 48.6293, lon: 2.4396 },\n  '92': { lat: 48.8283, lon: 2.2399 },\n  '93': { lat: 48.9100, lon: 2.4200 },\n  '94': { lat: 48.7904, lon: 2.4753 },\n  '95': { lat: 49.0354, lon: 2.0733 }\n};\n\n// === 4. Limite max de ROME par jeune ===\nconst MAX_ROME = 6;\n\n// === 5. Traitement de chaque jeune ===\nconst results = [];\n\nfor (const item of jeunes) {\n  const j = item.json;\n  const dept = (j.departement || '75').trim();\n  const coords = deptCoords[dept] || deptCoords['75'];\n\n  // --- 5a. Parser les codes ROME originaux ---\n  const romesOriginaux = (j.codes_rome_suggeres || '')\n    .split(',')\n    .map(r => r.trim())\n    .filter(r => r.length > 0);\n\n  // --- 5b. Elargir avec passerelles si <= 2 ROME ---\n  let romesElargis = [...romesOriginaux];\n\n  if (romesOriginaux.length <= 2) {\n    const romesPasExpanded = new Set(romesOriginaux);\n\n    for (const rome of romesOriginaux) {\n      const cibles = passerellesMap[rome] || [];\n      for (const cible of cibles) {\n        if (!romesPasExpanded.has(cible)) {\n          romesPasExpanded.add(cible);\n          romesElargis.push(cible);\n        }\n      }\n    }\n  }\n\n  // --- 5c. Limiter a 6 ROME max (originaux prioritaires) ---\n  romesElargis = romesElargis.slice(0, MAX_ROME);\n  const romesStr = romesElargis.join(',');\n\n  // --- 5d. Detecter le frein langue pour les MNA ---\n  let frein_langue = false;\n  if (j.mna === true) {\n    const niveauFr = (j.niveau_francais_declare || '').toLowerCase();\n    if (niveauFr.includes('débutant') || niveauFr.includes('debutant') || niveauFr.includes('non francophone')) {\n      frein_langue = true;\n    }\n  }\n\n  // --- 5e. Construire les URLs ---\n  const ft_url = `https://api.francetravail.io/partenaire/offresdemploi/v2/offres/search?departement=${dept}&distance=20&codeROME=${romesStr}&range=0-49`;\n  const lba_url = `https://api.apprentissage.beta.gouv.fr/api/job/v1/search?latitude=${coords.lat}&longitude=${coords.lon}&radius=25&romes=${romesStr}`;\n\n  // --- 5f. Construire l'output enrichi ---\n  results.push({\n    json: {\n      jeune: {\n        airtable_id: j.airtable_id,\n        prenom: j.prenom,\n        codes_rome_suggeres: j.codes_rome_suggeres,\n        departement: j.departement,\n        ville: j.ville,\n        niveau_francais_declare: j.niveau_francais_declare,\n        classe: j.classe,\n        disponibilite: j.disponibilite,\n        secteurs_interet: j.secteurs_interet,\n        besoins: j.besoins,\n        attentes_mentor: j.attentes_mentor,\n        mna: j.mna,\n        secteur_vise: j.secteur_vise,\n        skills_inferees: j.skills_inferees || '',\n        frein_langue: frein_langue\n      },\n      romes_originaux: romesOriginaux,\n      romes_elargis: romesElargis,\n      nb_romes_originaux: romesOriginaux.length,\n      nb_romes_elargis: romesElargis.length,\n      elargissement_actif: romesOriginaux.length <= 2,\n      token: token,\n      ft_url: ft_url,\n      lba_url: lba_url\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "build-queries-001",
      "name": "⚙️ Construire requêtes par jeune",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-001",
      "name": "🔁 Un jeune à la fois",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        250,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.ft_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "call-ft-001",
      "name": "📡 Appel France Travail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('🔁 Un jeune à la fois').first().json.lba_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiJ9.eyJfaWQiOiI2OWNiZGZiYzI5YjNlMDJmN2NkYjU0YTMiLCJhcGlfa2V5IjoieXBkNi95WkhnVDhPK25vdUxTRkFlcTVoWTl2OWFWeHFWK2hhU3NkT0phTT0iLCJvcmdhbmlzYXRpb24iOm51bGwsImVtYWlsIjoibW91cmFkLnJlbWlsaUBsZXMtb21icmVzLmNvbSIsImlzcyI6ImFwaSIsImlhdCI6MTc3NDk2ODc3NiwiZXhwIjoxODA2NTA0Nzc2fQ.5iKGnjdiuBPfRMV6rGJ12jmCyNf3WcrdUJDTGQaZwkg"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "call-lba-001",
      "name": "📡 Appel Bonne Alternance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        750,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// 🎯 SCORING v3 — Offres FT + Jobs LBA + Recruteurs LBA\n// Compatible n8n Code node v2\n// ============================================================================\n\nconst ftData = $('📡 Appel France Travail').first().json;\nconst lbaData = $('📡 Appel Bonne Alternance').first().json;\nconst jeuneData = $('🔁 Un jeune à la fois').first().json;\nconst jeune = jeuneData.jeune;\n\nconst freinLangue = jeuneData.frein_langue || false;\nconst romesOriginaux = (jeune.codes_rome_suggeres || '').split(',').map(r => r.trim());\nconst romesElargis = jeuneData.romes_elargis || romesOriginaux;\nconst deptJeune = (jeune.departement || '').trim();\nconst dispo = (jeune.disponibilite || '').toLowerCase();\nconst attentes = (jeune.attentes_mentor || '').toLowerCase();\nconst besoinsStr = (jeune.besoins || '').toLowerCase();\n\nconst veutCDI = besoinsStr.includes('cdd') || besoinsStr.includes('cdi') || attentes.includes('cdi');\nconst veutAlternance = besoinsStr.includes('alternance') || dispo.includes('alternance');\nconst veutStage = besoinsStr.includes('stage') || dispo.includes('stage');\nconst dispoImmediate = dispo.includes('immédiate') || dispo.includes('immediate');\nconst dispoApres = dispo.includes('après') || dispo.includes('rentrée') || dispo.includes('septembre');\n\nconst motsCles = attentes.split(/[\\s,;.!?]+/).filter(m => m.length > 4);\n\nconst PETITE_COURONNE = ['75','92','93','94'];\nconst IDF = ['75','92','93','94','77','78','91','95'];\n\n// ============================================================================\n// SCORING OFFRES (France Travail + LBA Jobs)\n// ============================================================================\n\nfunction scoreOffre(offre, source) {\n  let score = 0;\n  const detail = {};\n\n  // 1. ROME (25 pts)\n  const romeOffre = source === 'FT' ? (offre.romeCode || '') : '';\n  if (source === 'FT') {\n    if (romesOriginaux.includes(romeOffre)) { score += 25; detail.rome = 25; }\n    else if (romesElargis.includes(romeOffre)) { score += 15; detail.rome = 15; }\n    else { detail.rome = 0; }\n  } else { score += 20; detail.rome = 20; }\n\n  // 2. Débutant (20 pts)\n  if (source === 'FT') {\n    const deb = offre.experienceExige === 'D' || offre.experienceExige === 'S';\n    if (deb) { score += 20; detail.debutant = 20; } else { detail.debutant = 0; }\n  } else { score += 20; detail.debutant = 20; }\n\n  // 3. Géo (15 pts)\n  if (source === 'FT') {\n    const deptOffre = (offre.lieuTravail?.codePostal || '').substring(0, 2);\n    if (deptOffre === deptJeune) { score += 15; detail.geo = 15; }\n    else if (PETITE_COURONNE.includes(deptOffre) && PETITE_COURONNE.includes(deptJeune)) { score += 10; detail.geo = 10; }\n    else if (IDF.includes(deptOffre) && IDF.includes(deptJeune)) { score += 5; detail.geo = 5; }\n    else { detail.geo = 0; }\n  } else { score += 12; detail.geo = 12; }\n\n  // 4. Langue (10 pts)\n  if (freinLangue) {\n    if (source === 'FT') {\n      if ((offre.langues || []).length === 0) { score += 10; detail.langue = 10; } else { detail.langue = 0; }\n    } else { score += 8; detail.langue = 8; }\n  } else { score += 10; detail.langue = 10; }\n\n  // 5. Permis (5 pts)\n  if (source === 'FT') {\n    if ((offre.permis || []).length === 0) { score += 5; detail.permis = 5; } else { detail.permis = 0; }\n  } else { score += 5; detail.permis = 5; }\n\n  // 6. Type contrat (10 / -10)\n  if (source === 'FT') {\n    const contrat = (offre.typeContratLibelle || offre.typeContrat || '').toLowerCase();\n    const estInterim = contrat.includes('intérim') || contrat.includes('interim');\n    const estCDI = contrat.includes('cdi');\n    const estCDD = contrat.includes('cdd');\n    if (veutCDI && estCDI) { score += 10; detail.contrat = 10; }\n    else if (veutCDI && estCDD) { score += 3; detail.contrat = 3; }\n    else if (veutCDI && estInterim) { score -= 10; detail.contrat = -10; }\n    else if (veutAlternance && offre.alternance) { score += 10; detail.contrat = 10; }\n    else if (veutStage) { score += 5; detail.contrat = 5; }\n    else { detail.contrat = 0; }\n  } else {\n    if (veutAlternance) { score += 10; detail.contrat = 10; }\n    else { score += 3; detail.contrat = 3; }\n  }\n\n  // 7. Sémantique (10 pts)\n  const titreLC = (source === 'FT' ? (offre.intitule || '') : (offre.offer?.title || '')).toLowerCase();\n  const matchMots = motsCles.filter(m => titreLC.includes(m));\n  if (matchMots.length >= 2) { score += 10; detail.semantique = 10; }\n  else if (matchMots.length === 1) { score += 5; detail.semantique = 5; }\n  else { detail.semantique = 0; }\n\n  // 8. Entreprise nommée (3 pts)\n  const entreprise = source === 'FT' ? (offre.entreprise?.nom || '') : (offre.workplace?.name || '');\n  if (entreprise && entreprise !== 'Non communiqué' && entreprise.length > 2) { score += 3; detail.entreprise_nommee = 3; }\n  else { detail.entreprise_nommee = 0; }\n\n  // 9. Temporalité (malus -15)\n  if (dispoApres && !dispoImmediate && source === 'FT') {\n    const c = (offre.typeContratLibelle || '').toLowerCase();\n    if (c.includes('jour') || (c.includes('1 mois') && !c.includes('10')) || c.includes('5 jour')) {\n      score -= 15; detail.temporalite = -15;\n    } else { detail.temporalite = 0; }\n  } else { detail.temporalite = 0; }\n\n  return { score: Math.max(0, score), detail };\n}\n\n// ============================================================================\n// SCORING RECRUTEURS LBA (marché caché)\n// ============================================================================\n\nfunction scoreRecruteur(r) {\n  let score = 0;\n  const detail = {};\n\n  // Géo (30 pts)\n  const deptR = (r.workplace?.location?.zipCode || '').substring(0, 2);\n  if (deptR && deptR === deptJeune) { score += 30; detail.geo = 30; }\n  else if (PETITE_COURONNE.includes(deptR) && PETITE_COURONNE.includes(deptJeune)) { score += 20; detail.geo = 20; }\n  else if (IDF.includes(deptR) && IDF.includes(deptJeune)) { score += 12; detail.geo = 12; }\n  else { detail.geo = 0; }\n\n  // Taille PME (20 pts)\n  const tailleScore = {'0-0':5,'1-2':10,'3-5':15,'6-9':20,'10-19':20,'20-49':18,'50-99':15,'100-199':12,'200-249':10,'250+':8};\n  const pts = tailleScore[r.workplace?.size || ''] || 8;\n  score += pts; detail.taille = pts;\n\n  // OPCO (15 pts)\n  const opco = r.workplace?.domain?.opco || '';\n  if (opco && opco.length > 1) { score += 15; detail.opco = 15; } else { detail.opco = 0; }\n\n  // Contact (15 pts)\n  const phone = r.apply?.phone || '';\n  const url = r.apply?.url || '';\n  const rid = r.apply?.recipient_id || '';\n  if (phone && phone.length >= 10) { score += 15; detail.contact = 15; }\n  else if (url && url.startsWith('http')) { score += 10; detail.contact = 10; }\n  else if (rid) { score += 8; detail.contact = 8; }\n  else { detail.contact = 0; }\n\n  // Nom (10 pts)\n  const nom = r.workplace?.name || r.workplace?.legal_name || r.workplace?.brand || '';\n  if (nom && nom.length > 2 && !nom.toLowerCase().includes('non communiqu')) { score += 10; detail.nom = 10; }\n  else { detail.nom = 0; }\n\n  // NAF (5 pts)\n  if ((r.workplace?.domain?.naf?.code || '').length >= 2) { score += 5; detail.naf = 5; } else { detail.naf = 0; }\n\n  // SIRET (5 pts)\n  if ((r.workplace?.siret || '').length >= 14) { score += 5; detail.siret = 5; } else { detail.siret = 0; }\n\n  return { score: Math.min(100, Math.max(0, score)), detail };\n}\n\n// ============================================================================\n// SCORER TOUT\n// ============================================================================\n\nconst offresFT = (ftData.resultats || []).map(o => {\n  const { score, detail } = scoreOffre(o, 'FT');\n  return {\n    source: 'France Travail', offre_id: o.id, titre: o.intitule,\n    entreprise: o.entreprise?.nom || 'Non communiqué',\n    lieu: o.lieuTravail?.libelle || '',\n    departement_offre: (o.lieuTravail?.codePostal || '').substring(0, 2),\n    type_contrat: o.typeContratLibelle || o.typeContrat || '',\n    est_alternance: o.alternance === true,\n    debutant_accepte: o.experienceExige === 'D',\n    url_offre: o.origineOffre?.urlOrigine || `https://candidat.francetravail.fr/offres/recherche/detail/${o.id}`,\n    score, score_detail: detail\n  };\n});\n\nconst jobsLBA = (lbaData.jobs || []).map(j => {\n  const { score, detail } = scoreOffre(j, 'LBA');\n  return {\n    source: 'La Bonne Alternance', offre_id: j.identifier?.partner_job_id || j.identifier?.id || '',\n    titre: j.offer?.title || '', entreprise: j.workplace?.name || 'Non communiqué',\n    lieu: j.workplace?.location?.city || '', departement_offre: '',\n    type_contrat: (j.contract?.type || []).join(', '),\n    est_alternance: true, debutant_accepte: true,\n    url_offre: j.apply?.url || '', score, score_detail: detail\n  };\n});\n\nconst recruteursLBA = (lbaData.recruiters || []).map(r => {\n  const { score, detail } = scoreRecruteur(r);\n  return {\n    source: 'LBA Recruteur', offre_id: r.identifier?.id || '',\n    titre: `Candidature spontanée - ${r.workplace?.domain?.naf?.label || r.workplace?.name || 'Entreprise'}`,\n    entreprise: r.workplace?.name || r.workplace?.legal_name || 'Non communiqué',\n    lieu: r.workplace?.location?.city || '',\n    departement_offre: (r.workplace?.location?.zipCode || '').substring(0, 2),\n    type_contrat: 'Alternance (spontanée)', est_alternance: true, debutant_accepte: true,\n    url_offre: r.apply?.url || '', score, score_detail: detail,\n    telephone: r.apply?.phone || '', opco: r.workplace?.domain?.opco || ''\n  };\n});\n\nconst topOffres = [...offresFT, ...jobsLBA].filter(o => o.score >= 55 && o.offre_id).sort((a, b) => b.score - a.score).slice(0, 10);\nconst topRecruteurs = recruteursLBA.filter(r => r.score >= 40 && r.offre_id).sort((a, b) => b.score - a.score).slice(0, 5);\n\nreturn [{ json: {\n  jeune, offres: topOffres, recruteurs: topRecruteurs,\n  debug: { nb_ft: (ftData.resultats || []).length, nb_lba_jobs: (lbaData.jobs || []).length, nb_lba_recruteurs: (lbaData.recruiters || []).length, nb_offres_apres_score: topOffres.length, nb_recruteurs_apres_score: topRecruteurs.length }\n}}];"
      },
      "id": "scoring-001",
      "name": "🎯 Scorer les offres v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// 📝 PREPARER PROMPT IA — n8n Code node v2\n// ============================================================================\n\nconst data = $input.first().json;\nconst jeune = data.jeune;\nconst offres = data.offres;\nconst recruteurs = data.recruteurs;\nconst debug = data.debug;\n\nif (offres.length === 0 && recruteurs.length === 0) {\n  return [{ json: { skip: true, jeune_prenom: jeune.prenom, queries: [] } }];\n}\n\nconst offresList = offres.map((o, i) =>\n  `${i+1}. [${o.source}] ${o.titre} | ${o.entreprise} | ${o.lieu} | ${o.type_contrat} | Score: ${o.score}`\n).join('\\n');\n\nconst recruteursList = recruteurs.map((r, i) =>\n  `${i+1}. ${r.entreprise} | ${r.lieu} | ${r.opco || 'OPCO inconnu'} | ${r.telephone || 'Pas de tel'} | Score: ${r.score}`\n).join('\\n');\n\nconst prompt = `Tu es un conseiller insertion spécialisé jeunes vulnérables (ASE/MNA). Analyse ce matching et sélectionne les meilleures opportunités.\n\nPROFIL DU JEUNE :\n- Prénom : ${jeune.prenom}\n- Classe : ${jeune.classe || 'Non précisé'}\n- Français : ${jeune.niveau_francais_declare || 'Non précisé'}\n- MNA : ${jeune.mna ? 'Oui' : 'Non'}\n- Secteur visé : ${jeune.secteurs_interet}\n- Disponibilité : ${jeune.disponibilite}\n- Besoins : ${jeune.besoins}\n- Skills inférées : ${jeune.skills_inferees || 'Aucune'}\n- Ce qu'il/elle dit : \"${(jeune.attentes_mentor || '').substring(0, 500)}\"\n\nOFFRES D'EMPLOI (${debug.nb_ft} FT + ${debug.nb_lba_jobs} LBA, top ${offres.length} après scoring) :\n${offresList || 'Aucune offre'}\n\nRECRUTEURS MARCHÉ CACHÉ (${debug.nb_lba_recruteurs} identifiés, top ${recruteurs.length} après scoring) :\n${recruteursList || 'Aucun recruteur'}\n\nRÈGLES :\n- Sélectionne max 3 offres et max 2 recruteurs (ou moins si peu pertinents)\n- Élimine les incohérences (intérim 5j pour quelqu'un qui veut un CDI, offre trop en dessous du niveau, etc.)\n- Pour chaque sélection, écris un message court et motivant en tutoiement pour le jeune (1 phrase)\n- Pour les recruteurs, explique pourquoi une candidature spontanée a du sens\n\nRéponds UNIQUEMENT en JSON valide, sans markdown :\n{\"offres\":[{\"rang\":1,\"message\":\"...\",\"raison\":\"...\"}],\"recruteurs\":[{\"rang\":1,\"message\":\"...\",\"raison\":\"...\"}]}`;\n\nreturn [{ json: { prompt, jeune, offres, recruteurs, debug } }];"
      },
      "id": "prompt-ia-001",
      "name": "📝 Préparer prompt IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-haiku-4-5-20251001\",\"max_tokens\":500,\"messages\":[{\"role\":\"user\",\"content\":{{ JSON.stringify($json.prompt) }}}]}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "call-ai-001",
      "name": "🧠 Review IA (Haiku)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// 💾 CONSTRUIRE SQL + IA — n8n Code node v2\n// ============================================================================\n\nconst aiResponse = $('🧠 Review IA (Haiku)').first().json;\nconst data = $('📝 Préparer prompt IA').first().json;\nconst jeune = data.jeune;\nconst offres = data.offres;\nconst recruteurs = data.recruteurs;\n\n// Parser la réponse IA\nlet selectionsOffres = [];\nlet selectionsRecruteurs = [];\ntry {\n  const aiText = aiResponse.content?.[0]?.text || '{\"offres\":[],\"recruteurs\":[]}';\n  // Nettoyer le texte au cas où l'IA ajoute du markdown\n  const cleaned = aiText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n  selectionsOffres = parsed.offres || [];\n  selectionsRecruteurs = parsed.recruteurs || [];\n} catch(e) {\n  // Fallback : top 3 offres + top 2 recruteurs du scoring mathématique\n  selectionsOffres = offres.slice(0, 3).map((o, i) => ({ rang: i + 1, message: '', raison: 'Scoring mathématique (IA indisponible)' }));\n  selectionsRecruteurs = recruteurs.slice(0, 2).map((r, i) => ({ rang: i + 1, message: '', raison: 'Scoring mathématique (IA indisponible)' }));\n}\n\nconst esc = (v) => {\n  if (v === null || v === undefined) return 'NULL';\n  return \"'\" + String(v).replace(/'/g, \"''\").substring(0, 2000) + \"'\";\n};\n\nconst results = [];\n\n// --- Offres validées par IA ---\nfor (const sel of selectionsOffres) {\n  const idx = sel.rang - 1;\n  if (idx < 0 || idx >= offres.length) continue;\n  const o = offres[idx];\n  const scoreDetailWithAI = { ...o.score_detail, ai_message: sel.message || '', ai_raison: sel.raison || '' };\n\n  const sql = `INSERT INTO koda_matchs (jeune_id, source, offre_id, titre, entreprise, lieu, departement_offre, type_contrat, est_alternance, debutant_accepte, score, score_detail, url_offre, statut) VALUES (${esc(jeune.airtable_id)}, ${esc(o.source)}, ${esc(o.offre_id)}, ${esc(o.titre)}, ${esc(o.entreprise)}, ${esc(o.lieu)}, ${esc(o.departement_offre)}, ${esc(o.type_contrat)}, ${o.est_alternance}, ${o.debutant_accepte}, ${o.score}, '${JSON.stringify(scoreDetailWithAI).replace(/'/g, \"''\")}', ${esc(o.url_offre)}, 'validee_ia') ON CONFLICT (jeune_id, offre_id) DO UPDATE SET score = EXCLUDED.score, score_detail = EXCLUDED.score_detail, statut = 'validee_ia';`;\n  results.push({ json: { query: sql, jeune_prenom: jeune.prenom, type: 'offre', titre: o.titre, score: o.score, ai_message: sel.message } });\n}\n\n// --- Recruteurs à valider ---\nfor (const sel of selectionsRecruteurs) {\n  const idx = sel.rang - 1;\n  if (idx < 0 || idx >= recruteurs.length) continue;\n  const r = recruteurs[idx];\n  const scoreDetailWithAI = { ...r.score_detail, ai_message: sel.message || '', ai_raison: sel.raison || '' };\n\n  const sql = `INSERT INTO koda_matchs (jeune_id, source, offre_id, titre, entreprise, lieu, departement_offre, type_contrat, est_alternance, debutant_accepte, score, score_detail, url_offre, statut) VALUES (${esc(jeune.airtable_id)}, ${esc(r.source)}, ${esc(r.offre_id)}, ${esc(r.titre)}, ${esc(r.entreprise)}, ${esc(r.lieu)}, ${esc(r.departement_offre)}, ${esc(r.type_contrat)}, ${r.est_alternance}, ${r.debutant_accepte}, ${r.score}, '${JSON.stringify(scoreDetailWithAI).replace(/'/g, \"''\")}', ${esc(r.url_offre)}, 'a_valider') ON CONFLICT (jeune_id, offre_id) DO UPDATE SET score = EXCLUDED.score, score_detail = EXCLUDED.score_detail, statut = 'a_valider';`;\n  results.push({ json: { query: sql, jeune_prenom: jeune.prenom, type: 'recruteur', titre: r.titre, score: r.score, ai_message: sel.message } });\n}\n\nif (results.length === 0) {\n  results.push({ json: { query: null, jeune_prenom: jeune.prenom, type: 'aucun', titre: 'Aucun match retenu', score: 0, ai_message: '' } });\n}\n\nreturn results;"
      },
      "id": "build-sql-001",
      "name": "💾 Construire SQL + IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.query }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-001",
      "name": "🔀 Filtrer vides",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        2000,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "insert-001",
      "name": "💾 Sauver dans koda_matchs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2250,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "2raQuLNZ5pOeUkJC",
          "name": "Postgres LO_BIA"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "▶️ Lancer le matching": {
      "main": [
        [
          {
            "node": "🔐 Token France Travail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Token France Travail": {
      "main": [
        [
          {
            "node": "📋 Lire jeunes éligibles",
            "type": "main",
            "index": 0
          },
          {
            "node": "📋 Charger passerelles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Lire jeunes éligibles": {
      "main": [
        [
          {
            "node": "⚙️ Construire requêtes par jeune",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Charger passerelles": {
      "main": [
        [
          {
            "node": "⚙️ Construire requêtes par jeune",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Construire requêtes par jeune": {
      "main": [
        [
          {
            "node": "🔁 Un jeune à la fois",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔁 Un jeune à la fois": {
      "main": [
        null,
        [
          {
            "node": "📡 Appel France Travail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📡 Appel France Travail": {
      "main": [
        [
          {
            "node": "📡 Appel Bonne Alternance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📡 Appel Bonne Alternance": {
      "main": [
        [
          {
            "node": "🎯 Scorer les offres v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Scorer les offres v3": {
      "main": [
        [
          {
            "node": "📝 Préparer prompt IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Préparer prompt IA": {
      "main": [
        [
          {
            "node": "🧠 Review IA (Haiku)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Review IA (Haiku)": {
      "main": [
        [
          {
            "node": "💾 Construire SQL + IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Construire SQL + IA": {
      "main": [
        [
          {
            "node": "🔀 Filtrer vides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Filtrer vides": {
      "main": [
        [
          {
            "node": "💾 Sauver dans koda_matchs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Sauver dans koda_matchs": {
      "main": [
        [
          {
            "node": "🔁 Un jeune à la fois",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "matching-v3-001",
  "meta": {
    "instanceId": "cadbaef72f33bff1eacd1337b3bcd83c94a890e0f3bd8e6c900dfd98ca78d63e"
  },
  "id": "koda-matching-v3",
  "tags": []
}